:root {
  --lightgrey: #D5E0E8;
  --darkgrey: #BAC8D4;
  --brightyellow: #FFD139;
  --darkyellow: #D3A522;
}

@font-face {
    font-family: Heldane;
    src: url("../font/TestHeldaneDisplay-Regular.otf") format("opentype");
    font-weight: 400;
    font-style:  normal;
}

@font-face {
    font-family: Heldane;
    src: url("../font/TestHeldaneText-RegularItalic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Founders Grotesk Text;
    src: url("../font/FoundersGrotesk-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Founders Grotesk Text;
    src: url("../font/FoundersGrotesk-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}


h2 {
	font-family: 'Heldane';
	font-weight: 400;
	font-size: 30px;
	line-height: 34px;
}

h4 {
	font-family: 'Founders Grotesk Text';
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 24px;
	text-align: center;
}


h5 {
	font-family: 'Founders Grotesk Text';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
}


h6 {
	font-family: 'Founders Grotesk Text';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #000000;
}

.h7 {
	font-family: 'Heldane';
	font-weight: 400;
	font-size: 22px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 16px;
}

p {
	font-family: 'Founders Grotesk Text';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 8px;
}

.sliderp {
	font-family: 'Founders Grotesk Text';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 8px;
	vertical-align:middle;
	margin-left: 16px; 

}

.p2 {
	font-family: 'Founders Grotesk Text';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	margin-bottom: 8px;
}

.p2button {
	font-family: 'Founders Grotesk Text';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	margin-bottom: 0px;
}


.p3 {
	font-family: 'Founders Grotesk Text';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 48px;
	color: #000000;
	margin-bottom: 8px;
}

.p4 {
	font-family: 'Founders Grotesk Text';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	margin-bottom: 0px;
}


/* date page specific */

#dataframe {
	background-color:  var(--lightgrey);
	padding: 16px;	
}

.nav2frame {
	padding-left: 0px;
	padding-right: 0px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}


#contentdata {
	background-color:  var(--lightgrey);
}

.topframenav {
	background-color: var(--darkgrey);
	width: 100%;
	margin-bottom: 8px;
	text-align: left;
	padding-top: 16px;
	padding-bottom: 4px;
}

.topframenav:hover {
	background-color: var(--brightyellow);
}

.frame {

}

.activenav {
	background-color: var(--brightyellow);
}

.topspace{
	margin-top: 30px;
}

.level1nav {
	padding-left: 0px;
	padding-right: 0px;
	overflow: scroll;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	padding-bottom: 2px;
}

.level2nav {
	overflow: scroll;
}

.level2frame {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	min-height: 400px;
}

.datamap {
	height: 100%;
}

.mapcontainer {
	height: 100%;
	min-height: 400px;
}

.nav-group {
	border-top: 1px solid #000;

	padding: 16px;
}

.nav2group {
	padding: 16px;
	border-bottom: 1px solid #000;
}

.nav2groupplain {
	padding: 16px 16px 0px 16px;
}

.nav2 {
	background-color: white;
	width: 100px;
	padding-bottom: -10px;
}

.nav2:hover {
	background-color: var(--brightyellow)!important;
}

.nav2:active {
	background-color: var(--brightyellow)!important;
}

.nav2:focus {
	background-color: var(--brightyellow)!important;
}


.active2nav {
	background-color: var(--brightyellow);
}

.implementationimg {
	margin-right: 0px;
}

.implementationbox {
	vertical-align: bottom;
	display: inline-block;
}

.implementationbox2 {
	vertical-align: top;
	display: inline-block;
	padding-bottom: 15px;
}

.implementationtext {
	display: inline-block;
	transform:translate(8px,16px);
}

.implementationdef {
	padding-left: 8px;
	display: inline-block;
	width:  calc(100% - 45px);
}

#frame2viz {
	background-color: #fff;
	padding: 16px;
}

.countrystatusbox {
	background-color: var(--lightgrey);
	margin: 8px;
	padding: 8px;
}

.leaflet-container {
    background: #FFF!important;
}

#frame3viz {
	background-color: #fff;
	overflow: scroll;
}

#frame2viz {
	background-color: #fff;
	overflow: scroll;
}

#frame4viz {
	background-color: #fff;
	overflow: scroll;
}

#frame1viz {
	background-color: #fff;
	overflow: scroll;
	padding: 16px;
}

.slidecontainer {
	transform:translate(8px,-24px);
}

.frame4continent {
	padding: 16px;
}

.appiconviz {
	width: 65px;
}

.appiconviz svg {
	width: 60px;	
}

input[type=range] {
  accent-color: #888888;

}

#mapoverlay {
	min-width: 100px;
	min-height: 50px;
	background-color: #fff;
	position: absolute;
	z-index: 1000;
	padding: 16px;
	max-width: 350px;
	border: 1px solid var(--darkgrey);
}

#helpoverlay {
	min-width: 100px;
	min-height: 50px;
	background-color: #fff;
	position: absolute;
	z-index: 1000;
	padding: 16px;
	max-width: 350px;
	border: 1px solid var(--darkgrey);
}

/* country page specific */

.infobox {
	margin-top: 16px;
	border-top: 1px solid #000000;
	padding-top: 16px;
	padding-bottom: 32px;
}

#ctaappicon {
	margin-bottom: 16px;
}

.colourkey {
    width: 32px;
    height: 5px;
    display: inline-block;
    margin-bottom: 2px;
    margin-left: 32px;
    margin-right: 8px;
    border-radius: 4px;
}

.colourkeyblock {
    width: 32px;
    height: 10px;
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 8px;
    border-radius: 4px;
    border:  1px solid #000;
}

.legendblock {
    width: 9px;
    height: 10px;
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 0px;
    border-radius: 2px;
    border:  1px solid #000;
}

#legendcta {
	margin-bottom: 16px;
}

.colourkeyblocklarge {
    width: 128px;
    height: 10px;
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 8px;
    border-radius: 4px;
    border:  1px solid #000;
}

.statusblock {
	display: inline-block;
	float:left;
	padding-right: 8px;
	padding-bottom: 8px;
}

.apptextno {
	color: var(--darkgrey);
}

.countrystatusbox {
	display: inline-block;
	width: fit-content;
}

#ctaappicon svg {
	height: 300px;
	margin-bottom: 16px;
}

#countrydropdownitems {
	max-height: 400px;
	overflow: scroll;
}

.statustext {
	min-height: 40px;
	padding-left: 8px;
	display: inline-block;
	width:  calc(100% - 45px);
}

#countryname {
	padding-top: 16px;
}

.sectionheader {
	min-height: 48px;
}

/* front page */

#landingtext {
	text-align:  center;
    vertical-align:middle;
    padding-top: 100px;
    height: 400px;
   }

.fillimg{
    background: url('../images/front_page.png') no-repeat;
    background-size: cover;
    min-height: 400px;
}

.firstrow {
	background-color: var(--darkgrey);
}

.frontpagebutton {
	padding-top: 12px;
	border-radius: 20px;
	font-family: 'Founders Grotesk Text';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 24px;

}

.frontpagebutton a {
	color: #fff;
	text-decoration: none;
}

.frontpagesectionbutton {
	position: absolute;
	bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

.frontcountrybutton{
	height: 44px;
}

.maxwidthcontent {
	max-width: 1170px;
	margin: auto;
}

.frontpagesectiontitle {
	font-family: 'Heldane';
	font-weight: 400;
	font-size: 22px;
	line-height: 24px;
	text-align: center;
	margin-bottom: 32px;

}

.frontsection {
	padding-top: 32px;
	text-align:  center;
	position: relative;
	padding-bottom: 64px;
}

.frontsectionimage {
	margin-bottom: 32px;
}

.thirdsection {
	margin-top: 32px;
	padding-top: 32px;
	margin-bottom: 64px;
}

.loader {
	border: 16px solid var(--lightgrey); /* Light grey */
	border-top: 16px solid var(--darkgrey); /* Blue */
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 2s linear infinite;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#dropdownMenuButton {
	background-color:  #000;
}

.frontpagebutton {
	background-color:  #000;
}

.source {
	color: #000;
}

.source:hover {
	color: #000;
}

.statuslistbox
{
	min-height: 80px;
}

.aboutheader {
	margin-top: 30px;
}

#header {
	padding-top: 15px;
	background-color: #FFD139;
	margin-bottom: 30px;
}

#title {
	margin-top: 15px;
	padding-bottom: 15px;
}

#logo {
	margin-bottom: 15px;
}

h6 a {
	color: #000000;
}

#mobilemessage {
	padding: 16px 32px 8px 32px;
	display: none;
}

@media (max-width:700px) {
	#mobilemessage {
		display: block;
	}
}

.helpimg {
	cursor: pointer;
}

.hoverhighlight {
	cursor: pointer;
}